



/*entête de page*/

#logo img {
    width: 100px;
    height: 50px;
}


.nav-list {
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    margin-right: 2em;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

#Heb a:hover, #Act a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 2em;
    color: #0065fc;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1em;
}
.topnav span {
    display: flex;
    flex-direction: row;
}
span #Act {
    margin-left: 60px;
}
/*body*/

body {
    font-family: 'Raleway', sans-serif;
}

/*main*/

h1 {
    font-size: 1.5em;
}

.sous-titre {
    color: black;
}

.search-bar, button, input {
    border: none;
    padding: 0.5em;
}

.local {
    border-radius: 7px 0 0 7px;
}

.search {
    color: #eee;
    background-color: #0065fc;
    border-radius: 0 7px 7px 0;
}

a {
    text-decoration: none;
}

.fa-info {
    margin-right: 4px;
    margin-bottom: 10px;

}
.fa-search {
    display: none;
}

/*type de recherche*/

.filtres h3 {
    margin-top: 40px;
    margin-bottom: -45px;
}

.filtre {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    list-style: none;
    margin-left: 30px;
}


.filtre .item1, .item2, .item3, .item4 {
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    text-align: center;
    margin-left: 20px;
}

.item1 i, .item2 i, .item3 i, .item4 i {
    margin-left: -0.5em;
    background-color: #deebff;
    color: #0065fc;
    padding: 0.75em;
    border-radius: 40px;
    margin-right: 10px;
}

p i {
    border: 1px solid #f2f2f2;
    color: #0065fc;
    border-radius: 50px;
    padding: 10px;
    font-size: 0.5em;
}


/*hébergement*/

section {
    display: flex;
    flex-direction: row;
    width: 90%;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 1em;
    width: 950px;
    margin-right: 0px;
}

.firstTitle {
    padding-top: 15px;
    margin-bottom: 0;
    margin-left: 20px;
}

.cardHerb {
    display: flex;
    flex-direction: column;
    border: 2px solid #e7e7e7;
    border-radius: 1em;
    padding: 0;
    background-color: white;
    width: 190px;
    height: 180px;
    margin-top: 80px;
    margin-left: 7px;
    margin-right: 8px;
    box-shadow: 5px 5px 15px silver;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: -60px;
}

.cardHerb figcaption {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -20px;
    margin-left: 5px;
}

.cardHerb figcaption h4, .cardPop figcaption h4 {
    color: black;
    margin-top: 25px;
    font-size: 0.9em;
}



.cardHerb figcaption p, .cardActivite figcaption p {
    margin-top: -15px;
    color: black;
    font-size: 0.8em;
}

.cardHerb figcaption .avis {
    margin-top: -10px;
    margin-left: 0;
    color: #0065fc;
}

.cardHerb img {
    border-radius: 1em 1em 0 0;
    width: 180px;
    height: 100px;
    margin-top: 4px;
    margin-left: 5px;
    object-fit: cover;
}

.bottom {
    margin-top: 15px;
    margin-bottom: 35px;
}

span a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}


/*les plus populaires*/





.Pcards h3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;

}

.Pcards {
    background-color: #f2f2f2;
    border-radius: 1em;
    width: 450px;
    margin-right: 2px;
    margin-left: 10px;
}

.cardPop {
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 125px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px silver;
}

.cardPop img {
    width: 130px;
    height: 115px;
    border-radius: 1em 0 0 1em;
    margin-left: 5px;
    object-fit: cover;
}

.cardPop figcaption .avis {
    margin-top: 10px;
    margin-left: 15px;
    color: #0065fc;
}

.gris {
    color: #f2f2f2;
}

.cardPop figcaption p, .cardPop figcaption h4 {
    margin-left: 15px;
    margin-top: 5px;
}

.cardPop figcaption p {
    color: black;
}


/*activité*/

#activite, #activite2 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
} 
#activite2 {
    width: 500px;
}

.thirdTitle {
    margin-top: 60px;
    margin-bottom: -75px;
    margin-left: 10px;
}

.BigImg {
    margin-top: 50px;
    margin-left: 0px;
    border-radius: 1em;
    box-shadow: 5px 5px 15px silver;
    height: 355px;
}
.BigImg2 {
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 1em;
    box-shadow: 5px 5px 15px silver;
    height: 355px;
}
.BigImg img, .BigImg2 img {
    border-radius: 1em 1em 0 0;
    width: 240px;
    height: 300px;
    margin-top: -16px;
    margin-left: -39px;
    margin-right: -41px;
    object-fit: cover;
    object-position: center;
}

.group1, .group2 {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.group1 {
    margin-left: -15px;
    margin-right: -15px;
    width: 220px;
}

.group2 {
    margin-left: -15px;
    margin-top: 70px;
    width: 220px;
}

.cardActivite1 {
    border-radius: 1em;
    width: 220px;
    height: 190px;
    margin-left: 40px;
    margin-top: -30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px silver;
}

.cardActivite1 img {
    border-radius: 1em 1em 0 0;
    width: 220px;
    height: 150px;
    margin-top: 0;
    object-fit: cover;
    object-position: 0 30%;
}

.cardActivite2 {
    border-radius: 1em;
    width: 220px;
    height: 140px;
    margin-left: 40px;
    margin-top: 10px;
    box-shadow: 5px 5px 15px silver;
}

.cardActivite2 img {
    border-radius: 1em 1em 0 0;
    width: 220px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    object-position: 0% 0%;
}

.cardActivite3 {
    margin-top: -20px;
    width: 220px;
    height: 155px;
    box-shadow: 5px 5px 15px silver;
    border-radius: 1em;
}

.cardActivite3 img {
    border-radius: 1em 1em 0 0;
    width: 220px;
    height: 115px;
    object-fit: cover;
    object-position: 0% -0%;
}

.cardActivite4 {
    margin-top: 30px;
    width: 220px;
    height: 155px;
    box-shadow: 5px 5px 15px silver;
    border-radius: 1em;
}

.cardActivite4 img {
    border-radius: 1em 1em 0 0;
    width: 220px;
    height: 115px;
    object-fit: cover;
    object-position: 85% 0;
}

.Acards {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-right: -60px;
}



.Acards h4 {
    color: black;
    margin-left: -20px;
    margin-top: 7px;
}

.cardActivite1 h4, .cardActivite2 h4, .cardActivite3 h4, .cardActivite4 h4 {
    margin-left: 20px;
}


/*pied de page*/

.footer {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    border-radius: 7px 7px 0 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

footer .container1 {
    margin-left: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .container2 {
    padding-top: 50px;
    margin-left: 80px;
}
footer .container3 {
    padding-top: 50px;
    margin-left: 170px;
}

@media only screen and (min-width: 1440px) 
{
    
    body {
        width: 1440px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    main, header {
        font-size: 1.3em;
        
    }
    header {
        width: 1440px;
    }
    main {
        width: 1440px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        margin-left: 20px;
    }
    .sous-titre {
        margin-left: 20px;
    }
    /*bar de recherche*/
    .search-bar {
        margin-left: 10px;
    }
    .local {
        width: 50px;
        height: 40px;
    }
    input {
        height: 40px;
    }
    .search {
        width: 150px;
        height: 40px;
    }

    /*filtre*/
    .filtres {
        margin-left: 20px;
    }
    .filtres h3 {
        margin-top: 25px;
        margin-bottom: -60px;
        
    }
    .info {
        margin-left: 20px;
    }
    /*hébergement*/
    
    
    .regroupement {
        width: 1440px;
        display: flex;
        justify-content: center;
    }
    article {
        height: 700px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .firstTitle{
        margin-left: 35px;
    }
    .row {
        margin-top: -125px;
    }
    .cardHerb {
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 150px;
        width: 250px;
        height: 200px;
    }
    .cardHerb img {
        width: 240px;
        margin-left: 5px;
    }
    .cardHerb figcaption {
        margin-left: 20px;
    }
    .bottom {
        margin-left: 25px;
        margin-top: 35px;
    }
    /*populaire*/
    .Pcards h3{
        margin-left: 30px;
        margin-right: 30px;
    }
    .cardPop {
        margin-left: 30px;
        margin-right: 20px;
        height: 150px;
        width: 400px;
    }
    .cardPop img {
        height: 140px;
        width: 150px;
    }
    .cardPop figcaption {
        margin-left: 10px;
        margin-top: 30px;
    }
    .cardPop figcaption h4 {
        margin-top: -20px;
    }
    .cardPop figcaption p {
        margin-top: -10px;
    }
    .cardPop figcaption .avis {
        margin-top: 15px;
    }
    /*activite*/
    .thirdTitle {
        margin-left: 20px;
        margin-bottom: -65px;
    }
    .Acards {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
    }
    
    #acrivite2 {
        margin-right: 0px;
    }
    .BigImg, .BigImg2 {
        width: 350px;
        height: 450px;
    }
    .BigImg {
        margin-left: 20px;
    }
    .BigImg2 {
        margin-left: 160px;
    }
    .BigImg img, .BigImg2 img {
        width: 350px;
        height: 390px;
        margin-top: -20px;
    }
    
    .BigImg h4{
        margin-top: 10px;
    }
    .group1 {
        margin-top: 85px;
        justify-content: space-between;
        margin-left: 0;
    }
    .cardActivite1 {
        width: 290px;
        height: 230px;
        margin-left: 35px;
    }
    .cardActivite1 img {
        width: 290px;
        height: 180px;
        object-position: 50% -100px;
    }
    .cardActivite2 {
        width: 290px;
        height: 170px;
        margin-left: 35px;
        margin-top: 25px;
    }
    .cardActivite2 img {
        width: 290px;
        height: 120px;
        object-position: 0 0;
    }
    .cardActivite3{
        width: 290px;
        height: 200px;
        margin-left: 55px;
    }
    .cardActivite3 img {
        width: 290px;
        height: 150px;
    }
    .cardActivite4{
        width: 290px;
        height: 200px;
        margin-top: 30px;
        margin-left: 55px;
    }
    .cardActivite4 img {
        width: 290px;
        height: 150px;
        object-position: 0 -30px;
    }
    /*footer*/
    footer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .footer {
        width: 100%;
    }
    footer .container2 {
        margin-left: 300px;
    }
    footer .container3 {
        margin-left: 300px;
    }
}
@media only screen and ( max-width: 768px) {
    h1 {
        margin-left: 10px;
    }
    .sous-titre {
        margin-left: 10px;
    }
    .search-bar {
        margin-left: 2px;
    }
    .fa-search {
        display: none;
    }
    .info {
        margin-left: 10px;
    }
    /*hebergement_populaire*/
    .regroupement {
        display: flex;
        flex-direction: column-reverse;
    }
    .filtres h3 {
        margin-left: 10px;
        margin-bottom: -42px;
    }
    .filtres .filtre {
        margin-left: 15px;
        width: 700px;
    }
    .filtre .item1, .item2, .item3, .item4 {
        margin-left: 25px;
        font-size: 0.8em;
    }
    .item1 i, .item2 i, .item3 i, .item4 i {
        margin-right: 5px;
    }
    .item2 i {
        width: 13px;
        margin-left: 0px;
    }
    .filtre li {
        padding-right: 10px;
    }
    /*populaire*/
    .Pcards {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 728px;
        margin-left: 13px;
        margin-bottom: 20px;
        height: 300px;
    }
    .titre {
        height: 23px;
    }
    .pop {
        display: flex;
        justify-content: flex-start;
        margin-top: -85px;
    }
    .Pcards h3 {
        height: 23px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        
    }
    .cardPop {
        margin-top: 90px;
        width: 220px;
    }
    .cardPop img {
        width: 80px;
    }
    .cardPop figcaption {
        margin-left: -7px;
    }
    .cardPop figcaption h4 {
        margin-top: 10px;
    }
    .cardPop figcaption p {
        margin-top: -15px;
    }
    .cardPop figcaption .avis {
        margin-top: -10px;
    }
    /*hebergement*/
    .Hcards {
        width: 728px;
        margin-left: 13px;
    }
    .cardHerb {
        margin-left: 17px;
        width: 210px;
    }
    .cardHerb img {
        width: 200px;
    }
    /*activite*/
    .Acards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #activite2 {
        width: 728px;
        margin-left: -80px;
        margin-top: -70px;
    }
    .BigImg, .BigImg2 {
        width: 350px;
        margin-left: 13px;

    }
    .BigImg2 {
        margin-left: 95px;
    }
    .BigImg2 img {
        width: 350px;
    }
    .BigImg img {
        width: 350px;
    }

    .group1 {
        margin-left: 20px;
    }
    .cardActivite1 {
        width: 310px;
        margin-left: 45px;
    }
    .cardActivite1 img {
        width: 310px;
        
    }
    .cardActivite2 {
        width: 310px;
        margin-left: 45px;
    }
    .cardActivite2 img {
        width: 310px;
    }
    .cardActivite3 {
        width: 310px;
        margin-left: 75px;
    }
    .cardActivite3 img {
        width: 310px;
    }
    .cardActivite4 {
        width: 310px;
        margin-left: 75px;
    }
    .cardActivite4 img {
        width: 310px;
    }
    /*footer*/
    .footer {
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    body {
        width: 100%;
        margin-left: auto;
    }
    main {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .regroupement {
        width: 100%;
    }
    h4 {
        font-weight: bold;
    }
    /*header*/
    .topnav {
        width: 100%;
        
    }
    #logo {
        width: 300px;
        display: flex;
        justify-content: center;
        margin-left: 20%;
    }
    
    .nav-list {
        width: 425px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .nav-list span {
        width: 425px;
        display: flex;
        justify-content: start;/*mettre en deux fois 50/50*/ /*display none sur border top*/
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
        padding-bottom: 10px;
    }
    
    #Act, #Heb {
        border-bottom: 2px solid #f2f2f2;
        text-align: center;
    }
    #Heb {
        
    }
    #Heb:hover, #Act:hover {
        width: 425px;
        border-top: none;
        border-bottom: 2px solid #0065fc;
        
        color: #0065fc;
    }
    h1 {
        width: 350px;
        margin-left: 25px;
        margin-top: -15px;
    }
    .sous-titre {
        margin-left: 25px;
        margin-top: -10px;
    }
    .search-bar {
        margin-left: 15px;
        
    }
    input { 
        width: 200px;
        height: 40px;
        
    }
    .button-text {
        display: none;
    }
    .fa-search {
        display: initial;
    }
    .search {
        border-radius: 10px;
    }
    .filtres {
        width: 400px;
        margin-left: -20px;
    }
    .filtres h3 {
        margin-bottom: 20px;
        margin-left: 50px;
    }
    
    .filtres .filtre {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding-left: 0px;
    }
    .filtre li {
        font-size: 1em;
        font-weight: bold;
    }
    .filtre .item1 {
        height: 45px;
        width: 140px;
        font-size: 1em;
        border: 2px solid #f2f2f2;
    }
    .filtre .item1 i {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        margin-left: -15px;
        margin-bottom: 5px;
    }
    .filtre .item2 {
        width: 120px;
        height: 45px;
        margin-left: 210px;
        margin-top: -49px;
        border: 2px solid #f2f2f2;
        
    }
    .item2 i {
        width: 20px;
        height: 20px;
        margin-left: -22px;
        margin-right: 5px;
        
    }
    .item3 {
        width: 150px;
        height: 45px;
        margin-top: 10px;
        margin-left: 25px;
        border: 2px solid #f2f2f2;
    }
    .item3 i {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-left: -25px;
    }
    .filtre .item4 {
        height: 45px;
        width: 150px;
        margin-left: 27px;
        border: 2px solid #f2f2f2;
    }
    .item4 {
        height: 40px;
        margin-top: 10px;
        padding-left: 38px;
    }
    .item4 i {
        width: 20px;
        height: 20px;
        margin-left: -60px;
        margin-right: 5px;
    }
    .info {
        font-weight: bold;
        width: 350px;
        text-align:inherit;
        margin-left: 25px;
    }
    
    .search {
        width: 50px;
        height: 50px;
        margin-left: 0;
    }
    .local {
        width: 50px;
        height: 50px;
        margin-right: 0;
    }
    /*Hébergement*/
    .firstTitle {
        margin-bottom: 80px;
        margin-left: 35px;
    }
    .Hcards {
        width: 425px;
        margin-right: auto;
        background-color: white;
        margin-top: -20px;
        margin-left: 0;
    }
    .Hcards figcaption {
        font-size: 1.1em;
    }
    
    .Hcards .fa-star {
        width: 20px;
    }
    .Hcards .row {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .cardHerb {
        width: 347px;
        margin-left: 30px;
        margin-top: 0;
    }
    .cardHerb img {
        width: 337px;
    }
    #Hebergement {
        margin-bottom: 60px;
    }
    span a {
        margin-left: 35px;
        font-weight: bold;
    }
    /*Populaire*/
    .Pcards {
        width: 100%;
        height: 640px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
    }
    .Pcards h3 {
        display: flex;
        justify-content: flex-start;
        width: 340px;
        display: flex;
        justify-content: space-between;
        margin-left: 43px;
    }
    .Pcards .pop {
        display: flex;
        flex-direction: column;
        margin-top: -15px;
        height: 620px;
        margin-left: auto;
        margin-right: auto;
    }
    .cardPop {
        margin-bottom: 10px;
        margin-top: 30px;
        width: 347px;
        height: 150px;
        margin-right: auto;
        margin-left: 30px;
        margin-top: 10px;
    }
    .cardPop img {
        width: 150px;
        height: 140px;
    }
    .cardPop figcaption {
        margin-top: 30px;
        margin-left: 1px;
    }
    .cardPop figcaption h4 {
        margin-top: -40px;
        font-weight: bold;
    }
    .cardPop figcaption p {
        margin-top: -15px;
    }
    .cardPop figcaption .avis {
        margin-top: 40px;
    }
    /*Activite*/
    .Acards {
        width: 100%;
    }
    .thirdTitle {
        margin-left: 40px;
        margin-bottom: -65px;
    }
    #activite {
        display: flex;
        flex-direction: column;

    }
    #activite2 {
        display: flex;
        flex-direction: column;
    } 
    
    .BigImg {
        margin-right: auto;
        margin-left: 35px;
    }
    .BigImg2 {
        margin-left: 117px;
    }
    .group1 {
        margin-left: 0;
        margin-top: 30px;
        width: 425px;
        height: 400px;
    }
    .BigImg, .BigImg2,.cardActivite1, .cardActivite2, .cardActivite3, .cardActivite4 {
        width: 347px;
        height: 170px;
    }
    .BigImg img, .BigImg2 img, .cardActivite1 img, .cardActivite2 img, .cardActivite3 img, .cardActivite4 img {
        width: 347px;
        height: 120px;
    }
    .cardActivite1 {
        margin-left: auto;
        margin-top: 10px;
    }
    
    .cardActivite2 {
        margin-left: auto;
    }
    .group2 {
        width: 425px;
        height: 400px;
        margin-left: 35px;
        margin-top: 30px;
    }
    .cardActivite3 {
        margin-left: 80px;
        margin-top: 10px;
    }
    .cardActivite4 {
        margin-left: 80px;
    }
    /*Footer*/
    .footer {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: 100%;
    }
    .footer .container1 {
        margin-bottom: -20px;
        border-top: -50px;
        padding-bottom: 0;
        padding-top: 20px;
        margin-left: 35px;
    }
    .footer .container2 {
        margin-left: 35px;
        padding-top: 15px;
    }
    .footer .container3 {
        margin-left: 35px;
        padding-top: 10px;
    }
}
@media only screen and (max-width: 375px) {
    .topnav {
        width: 375px;
    }
    .nav-list {
        width: 375px;
    }
    .nav-list span {
        width: 375px;
        display: flex;
        justify-content: space-around;
    }
    #trait {
        width: 207px;
        margin-left: 20px;
    }
    #Act .nav-item a{
        width: 187px;
        margin-right: 100px;
    }
    .filtres .filtre {
        width: 375px;
    }
    .info {
        width: 345px;
        margin-left: 15px;
    }
    .Pcards {
        width: 375px;
    }
    .Pcards a {
        width: 375px;
    }
    .Pcards h3 {
        margin-left: 15px;
    }
    .pop {
        width: 375px;
        height: 550px;
    }
    .cardPop {
        margin-left: 10px;
    }
    .Hcards {
        width: 375px;
    }
    .row {
        width: 375px;
    }
    .Hcards a {
        width: 375px;
    }
    .firstTitle {
        width: 375px;
        margin-left: 15px;
    }
    #Hebergement {
        width: 375px;
    }
    .cardHerb {
        margin-left: 10px;
    }
    .thirdTitle {
        margin-left: 15px;
    }
    .Acards a {
        width: 375px;
    }
    #activite {
        width: 375px;
    }
    .BigImg {
        margin-left: auto;
    }
    .group1{
        width: 375px;
        margin-left: auto;
    }
    #activite2 {
        width: 375px;
        margin-left: 0;
    }
    .BigImg2 {
        margin-left: auto;
        margin-right: auto;
    }
    .group2 {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .cardActivite3 {
        margin-left: auto;
        margin-right: auto;
    }
    .cardActivite4 {
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 320px) {
    
    body {
        margin-left: auto;
        margin-right: auto;
    }
    main {
        margin-left: auto;
        margin-right: auto;
    }
    #logo {
        width: 100px;
        margin-left: 120px;
    }
    .topnav {
        width: 320px;
    }
    .nav-list {
        width: 320px;
    }
    .nav-list span {
        width: 320px;
    }
    h1 {
        font-size: 1.3em;
        width: 290px;
        margin-left: 10px;
    }
    .sous-titre {
        margin-left: 10px;
    }
    .search-bar {
        width: 300px;
        margin-left: 3px;
    }
    input {
        width: 150px;
    }
    a {
        width: 300px;
    }
    .filtres {
        width: 300px;
    }
    .filtre .item1 {
        margin-left: 10px;
    }
    .filtre .item2 {
        margin-left: 185px;
    }
    .filtre .item3 {
        margin-left: 10px;
    }
    .filtre .item4 {
        margin-left: 10px;
    }
    .info {
        width: 300px;
        margin-left: 10px;
    }
    .Pcards h3 {
        width: 290px;
        margin-left: 12px;
    }
    .firstTitle {
        margin-left: 10px;
    }
    .Hcards {
        width: 300px;
    }
    .row {
        width: 300px;
    }
    .cardPop {
        margin-left: 10px;
        width: 290px;
    }
    .cardPop img {
        width: 120px;
    }
    .cardPop figcaption h4 {
        margin-top: 5px;
    }
    .cardPop figcaption .avis {
        margin-bottom: 20px;
    }
    .cardHerb {
        width: 290px;
        margin-left: 10px;
    }
    .cardHerb img {
        width: 280px;
    }
    .bottom span {
        margin-left: -20px
    }
    .thirdTitle {
        margin-left: 10px;
    }
    #activite {
        width: 300px;
        margin-left: -25px;
    }
    .group1 {
        width: 300px;
    }
    #activite2 {
        width: 300px;
        margin-left: -105px;
    }
    .group2 {
        width: 300px;
    }
    .BigImg, .BigImg2,.cardActivite1, .cardActivite2, .cardActivite3, .cardActivite4 {
        width: 290px;
    }
    .BigImg img, .BigImg2 img, .cardActivite1 img, .cardActivite2 img, .cardActivite3 img, .cardActivite4 img {
        width: 290px;
        
    }
    .cardActivite1, .cardActivite2 {
        margin-left: 36px;
    }
}